body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  background: none;
}

.map path {
  fill: none;
  stroke: #35143C;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.map .freeways {
  stroke: #F56476; stroke-width: 1.5px;
}

.map .neighborhoods {
  stroke: #D2A1EE;
}

.map .streets {
  stroke: #9A7DAD;
}

.map .arteries {
  stroke: black; stroke-width: 1.5px;
}


@import url('https://fonts.googleapis.com/css?family=Anton|Cairo:900');

.logoHead {
  font-family: 'Anton', sans-serif;

}
.dropDown{
  width: 30%;
}

/* REMOVE .incident FILL CSS */
.hover {
    fill: yellow;
}
/* ADD CSS FOR #sliderContainer */
#sliderContainer {
    text-align: center;
    position: relative;
    top: 600px;
}
.selR: hover{
  fill: red;
}
h1, h2 {
    position: absolute;
    margin-left: 42%;
    padding-top:2%;
    color: #8B008B;
    font-size: 1.3em;
    font-weight: 100;
}
h2 {
    top: 30px;
    font-size: 1em;
}
h4 {
    font-size: 1em;
}

label{
  font-size: 1em;
  font-weight: 100;
}

input.sAll{
    background-color: #4ebb53; /* Green */
    border: 1px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.75em;
}


input.sNone{
    background-color: #d47c7c; /* red */
    border: 1px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.75em;
}
